<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
</head>


<body>

    <nav class="navbar bg-body-tertiary" style="background-color: #28AD56; color: white;">
        <div class="container-fluid">
            <span class="navbar-text col-10">
                Sistema de Autoevaluacion de los Programas Educativos de Posgrado
            </span>

            <img src="/images/uv_icon.png" alt="Universidad Veracruzana" width="30px">
            <span class="navbar-text ms-3">
                Universidad Veracruzana
            </span>
        </div>
    </nav>

    <div class="h-100 w-100">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>