@page
@model Posgrev_Frontend.Pages.AdministratorPages.AdministratorUser
@{
    ViewData["Title"] = "Posgrev - Administrar usuarios";

}
<style>
    .card {
        cursor: pointer;
        border-radius: 10px;
    }

    .card-body {
        border-color: grey;
    }

    .navbar {
        background-color: #18529D;
    }

    .nav-link {
        color: white;
    }
</style>


<body>
    <div class="container mt-1">
        <div>
            <form id="routine-form" method="post">
                <div class="d-flex mt-4">
                    <h4>Crear usuario</h4>
                </div>

                <div>
                    <h5 class="fw-light mt-4">Nombre del usuario</h5>
                    <input type="text" name="nombreUsuario" class="form-control" id="inputRoutineTitle"
                           placeholder="Ej: Juan Carlos Gonzales Perez" required>

                    <div class="d-flex">
                        <h5 class="mt-4 me-3 col-6 fw-light">Clave del programa</h5>
                    </div>
                    <div class="d-flex">
                        <input type="text" name="identificadorPrograma" class="form-control me-4" id="inputRoutineCity"
                               placeholder="Ej: 13124" norequired>
                    </div>

                    <div class="d-flex">
                        <h5 class="mt-4 me-3 col-6 fw-light">Rol</h5>
                    </div>
                    <div class="d-flex">
                        <select class="form-select me-4" name="rol" id="imputRol" required>
                            <option selected disabled value="">Seleccione una opción</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Revisor">Revisor</option>
                            <option value="Coordinador">Coordinador</option>
                        </select>
                    </div>

                    <h5 class="fw-light mt-4">Contraseña</h5>
                    <input type="password" name="password" class="form-control" id="inputContraseña"
                           placeholder="Ingrese su contraseña" required>

                    <div class="d-flex mt-5">

                        <div class="col-9"></div>
                        <button type="button" class="btn btn-secondary me-2 mb-4" data-bs-toggle="modal"
                                data-bs-target="#cancelModal">
                            Cancelar
                        </button>

                        <button type="submit" class="btn btn-primary shadow mb-4" style="width: 250px;">
                            Crear Posgrado
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</body>





<div class="modal fade" id="cancelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Cancelar creación del usuario?</h1>
            </div>
            <div class="modal-body">
                <p class="fw-light">¿Desea cancelar la creación del usuario? Los datos ingresados se perderan</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="navigateToHome()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>

    const navigateToHome = () => {
        var url = "/AdministratorPages/AdministratorUser";
        window.location.href = url;
    }
</script>