.contenedor-grid {
    display: grid;
    grid-template-columns: auto 45%;
}

.lado-izquierdo {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../login_background.jpg');
    height: 100vh;
    min-height: 500px;
}

.lado-derecho .card {
    max-width: 500px;
}

.lado-derecho {
    display: grid;
    place-items: center stretch;
}
