@page
@model Posgrev_Frontend.Pages.LoginModel
@{
	ViewData["Title"] = "Posgrev - Inicio de Sesión";
}

<link rel="stylesheet" href="/css/style_login.css" />

<!--Contenedor principal-->
<div class="contenedor-grid">
    <!--Lado izquierdo-->
    <div class="lado-izquierdo"></div>
    <!--lado derecho-->
    <div class="lado-derecho">
        <div class="contenedor-login mx-4">
            <h1 class="h3 text-center text-success">Sistema de Autoevaluación de Programas de Posgrados</h1>
            <h2 class="h5 text-center text-muted">Unidad de Estudios de Posgrados</h2>
            <form method="post">
                <div class="mb-3">
                    <label for="UserName" class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="UserName" name="UserName" asp-for="UserName">
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="Password" name="Password" asp-for="Password">
                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
